.navbar-brand span {
  color: #fdd000; }

.hero-bg {
  text-align: center;
  background-image: url("../Img/hero-restaurant.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0; }
  .hero-bg h1, .hero-bg p:nth-child(2) {
    color: white;
    font-weight: bold; }
  @media (max-width: 768px) {
    .hero-bg h1 {
      font-size: 3em; } }
  .hero-bg h1 span {
    color: #fdd000; }
  .hero-bg p:nth-child(2) {
    background-color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    padding: 15px; }
  .hero-bg p.lead a {
    background-color: #fdd000;
    color: black;
    border: 1px solid #fdd000; }

.promo .row .card-deck .card-body {
  background-color: #343a40;
  color: white; }
  .promo .row .card-deck .card-body .card-title {
    color: #fdd000; }

.promo .row .card-deck .card-footer {
  background-color: #2a2e33; }

.whoweare {
  margin: 30px auto; }
  .whoweare .row.first {
    height: 400px; }
    @media (max-width: 768px) {
      .whoweare .row.first {
        height: inherit; } }
    .whoweare .row.first div.bg-img {
      background-image: url("../Img/promo1.jpeg");
      background-position: center;
      background-repeat: no-repeat; }
      @media (max-width: 768px) {
        .whoweare .row.first div.bg-img {
          height: 300px;
          margin-bottom: 30px; } }

.carte-bg {
  background-image: url("../Img/burger-carte.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 180px 0; }
  @media (max-width: 768px) {
    .carte-bg {
      padding: 100px 0; } }
  .carte-bg .container .row div h2 {
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    padding: 15px; }
  .carte-bg .container .row div p {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    background-color: rgba(253, 208, 0, 0.6);
    display: inline-block;
    padding: 15px; }

.menu {
  margin: 50px auto; }
  @media (max-width: 768px) {
    .menu .row div.menu-content {
      margin-top: 30px; } }
  .menu .row div h2 {
    margin-bottom: 30px; }
  .menu .row div div .list-group-item.active {
    background-color: #fdd000;
    border-color: #fdd000; }
    .menu .row div div .list-group-item.active .badge-primary {
      background-color: black;
      color: white; }
  .menu .row div div .list-group-item .badge-primary {
    background-color: #fdd000;
    color: black; }
  .menu .row div .tab-content .tab-pane p:nth-child(2) {
    background-color: #fdd000;
    padding: 10px 15px;
    display: inline-block; }
  .menu .row div .tab-content .tab-pane p:nth-child(4) {
    font-size: 0.8em; }

.gallery {
  margin: 50px auto; }
  @media (max-width: 768px) {
    .gallery {
      margin: 50px auto 15px auto; } }
  .gallery .row div .row div {
    margin-bottom: 30px; }
    .gallery .row div .row div img {
      display: block;
      width: 100%; }

.pagination1 .row nav ul li .page-link {
  background-color: #fdd000;
  color: black;
  border-color: #fdd000; }

.pagination1 .row nav ul li .page-link.active {
  background-color: black;
  color: #fdd000; }

.resto-bg {
  background-image: url("../Img/hero-restaurant.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 120px 0; }
  .resto-bg .container .row div h2 {
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    padding: 15px; }
  .resto-bg .container .row div p {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    background-color: rgba(253, 208, 0, 0.6);
    display: inline-block;
    padding: 15px; }

.nosrestos {
  padding: 50px 0; }
  @media (max-width: 768px) {
    .nosrestos .row.first {
      margin: 0 auto; } }
  .nosrestos .brdr {
    border-right: 2px solid #fdd000; }
    @media (max-width: 768px) {
      .nosrestos .brdr {
        margin-bottom: 30px; } }

.mapouter {
  text-align: right;
  height: 250px;
  width: 450px;
  margin-right: 0;
  margin-bottom: 30px; }
  @media (max-width: 768px) {
    .mapouter {
      width: 300px; } }
  .mapouter .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 250px;
    width: 450px; }
    @media (max-width: 768px) {
      .mapouter .gmap_canvas {
        width: 300px; } }
    .mapouter .gmap_canvas iframe {
      width: 450px;
      height: 250px; }
      @media (max-width: 768px) {
        .mapouter .gmap_canvas iframe {
          width: 300px; } }

.nosrestos i {
  margin-right: 15px;
  color: #fdd000; }

.carte-bg.contact {
  padding: 120px 0; }

form.container {
  margin: 50px auto; }
  form.container .row div .btn-primary {
    background-color: #fdd000;
    border-color: #fdd000;
    padding: 10px 15px;
    font-size: 1.3em; }
    form.container .row div .btn-primary i {
      margin-left: 10px; }

footer {
  color: white;
  padding-top: 30px; }
  footer .container .row-30 div div .brand {
    color: white;
    font-size: 1.5em;
    font-weight: bold; }
    footer .container .row-30 div div .brand span {
      color: #fdd000; }
  footer .container .row-30 div div p:nth-child(2) {
    margin-top: 30px; }
    footer .container .row-30 div div p:nth-child(2) span {
      color: #fdd000; }
  footer .container .row-30 div.brdr {
    border-left: 1px solid #fdd000;
    border-right: 1px solid #fdd000; }
  footer .nav-list {
    list-style: none;
    padding: 0; }
    footer .nav-list li a {
      color: white; }
  footer .social-container {
    margin-top: 30px; }
    footer .social-container div.col {
      padding: 15px;
      text-align: center;
      background-color: #2a2e33;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      footer .social-container div.col:hover {
        background-color: #fdd000;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        footer .social-container div.col:hover a {
          color: black;
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease; }
      footer .social-container div.col a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
