@import 'variables';

.navbar-brand{
	span{
		color: $first-color;
	}
}

.hero-bg{
	text-align: center;
	background-image: url("../Img/hero-restaurant.jpg");
	background-repeat: no-repeat;
	background-position: center;
	padding: 100px 0;

	h1, p:nth-child(2){
		color: white;
		font-weight: bold;
	}

	h1{
		span{
			color: $first-color;
		}
	}

	p:nth-child(2){
		background-color: rgba(0, 0, 0, 0.6);
		display: inline-block;
		padding: 15px;
	}
	p.lead{
		a{
			background-color: $first-color;
			color: black;
			border: 1px solid $first-color;
		}
	}
}

.promo{
	.row{
		.card-deck{
			.card-body{
				background-color: #343a40;
				color: white;

				.card-title{
					color: $first-color;
				}
			}
			.card-footer{
				background-color: #2a2e33;
			}
		}
	}
}

.whoweare{
	margin: 30px auto;
	.row.first{
		height: 400px;
		div.bg-img{
			background-image: url("../Img/promo1.jpeg");
			background-position: center;
			background-repeat: no-repeat;
		}
	}
}

footer{
	color: white;
	padding-top: 30px;
	.container{
		.row-30{
			div{
				div{
					.brand{
						color: white;
						font-size: 1.5em;
						font-weight: bold;

						span{
							color: $first-color;
						}
					}
					p:nth-child(2){
						margin-top: 30px;
						span{
							color: $first-color;
						}
					}
				}
			}
			div.brdr{
				border-left: 1px solid $first-color;
				border-right: 1px solid $first-color;
			}
		}
	}

	.nav-list{
		list-style: none;
		padding: 0;
		li{
			a{
				color: white;
			}
		}
	}

	.social-container{
		margin-top: 30px;
		div.col{
			// border: 1px solid $first-color;
			padding: 15px;
			text-align: center;
			background-color: #2a2e33;
			transition: all 0.3s ease;
			&:hover{
				background-color: $first-color;
				transition: all 0.3s ease;

				a{
					color: black;
					transition: all 0.3s ease;
				}
			}
			a{
				color: white;
				text-decoration: none;
				text-transform: uppercase;
				transition: all 0.3s ease;
			}
		}
	}
}